[connection]
host={{ item }}
port=5900
password=a1dd7eb20f6980cf
[options]
use_encoding_1=1
copyrect=1
viewonly=1
fullscreen=0
8bit=0
shared=1
belldeiconify=0
disableclipboard=0
swapmouse=0
fitwindow=0
cursorshape=1
noremotecursor=0
preferred_encoding=7
compresslevel=-1
quality=6
localcursor=1
scale_den=1
scale_num=1
local_cursor_shape=1
